*{
  margin: 0;
  /*box-sizing --> setado para contar a partir da borda alinhando o input*/
  box-sizing: border-box;
}

h1{
  margin-top: 40px;
  margin-bottom: 10px;
  opacity: 0.9;
}

p{
  margin-bottom: 40px;
  opacity: 0.9;
}

input,button{
  display: block;
  width: 100%;

  padding: 20px;
  font-size: 20px;
  border-radius: 4px;
}

input{
  margin-bottom: 20px;
}

button{
  border:none;
  background-color: blueviolet;
  color: white;
  transition: filter .2s;
}
/*pseudo-class --> houver*/
button:hover {
  filter:brightness(1.2);
  cursor: pointer;
}

body{
  background-color: #0c192c;
  color:white;
  text-align: center;
  font-family: sans-serif;
}
/*
#container{
  z-index:1;
  display:flex;
  align-items: center;
  flex-direction: column;

  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}*/




#container{
  z-index:1;
  display:flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  position: relative;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  margin-left: auto;
  margin-right: auto;
 
}







main{
  display:flex;
  flex-direction: column;
  margin: 24px;
  padding:24px;

  background: #00bcd417;
  border: 2px solid #00bcd417;

}
section{
  z-index:9999;
  display:flex;
  flex-direction: column;
  align-self: center;
  max-width: 1100px;
}
section img{
  display:flex;
  align-self: center;
  max-width: 128px;
}

#resposta{
  margin-top: 20px;
  transition: opacity 1s;
}
#resposta div{
  font-size: 16px;
  font-weight: normal;
  opacity: 0.9;
  margin-bottom: 10px;
}
.bubbles-background{
  z-index:-9999;
  position: relative;
  display:flex;
  opacity: 0.9;
}
.bubbles-background span{
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44,
  0 0 50px #4fc3dc,
  0 0 100px #4fc3dc;
  animation: animate 15s linear infinite;
  animation-duration: calc(125s/ var(--i));
}
.bubbles-background span:nth-child(even) {
  background: blueviolet;
  box-shadow: 0 0 0 10px #8a2be244,
  0 0 50px blueviolet,
  0 0 100px blueviolet;
}
@keyframes animate{
  0%
  {
    transform: translateY(100vh) scale(0);
  }
    100%
  {
    transform: translateY(-10vh) scale(1);
  }
}

a{
  text-decoration: none;
  color: #5c6bc0;
}

footer{
  display:flex;
  margin-top: 24px; 
  transition: filter .2s;
  opacity: 0.7;
}

footer a:hover{

 
 filter:brightness(1.2);
 cursor: pointer;

}
.rodape{
  display:flex;
  align-items:center;
  padding: 24px;
  gap: 10px;
}

.gitlogo{
  max-width: 24px;
}